*{
    margin: 0;
    font-family: Arial;
    border: border-box;
  } 
  .navbar1{
    position: absolute;
    top: 0px;
    height: 60px;
    width: 100%;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
   
    
  }
  .signin12{
    background-color: transparent;
    border: none;
    color: white;
  }
  .nav1-logo{
    height: 50px;
    width:113px ;
    border:2px solid transparent;
  }
  .logo1{
    height: 50px;
    width:113px ;
  }
  
  .border1{
    border: 2px solid transparent;              
  }
  .border2{
    border: 2px solid transparent;              
  }
  .border1:hover{
    border: 2px solid white;
  }
  /* box2 */
  .add1{
    color: #cccccc;
    font-size: .85rem;
    margin-left: 15px;
    margin-top: 15px;
  }
  .add2{
    font-size: 1rem;
    margin-left: 3px;
  }
  .agd {
    font-size: 15px;
    margin-left: 3px;
    margin-top: 5px;
    text-decoration: none;
    color: white;
  }
  .nav1-address{
    height: 50px;
    width: 150px;
  
  }
  
  .nav1-address i{
    margin-top: 15px;
    margin-left: 5px;
  font-size: 16px;
  
   }
   .nav1-address p{
    display: inline;
    font-size: 15px;
    margin-left: 8px;
    margin-top: 5px;
  
   }
  /* box3 */
  .nav1-search{
    display: flex;
    justify-content: space-evenly;
    width: 620px;
    height: 40px;
    border-radius: 5px;
  }
  .nav1-search:hover{
    border: 2px solid orange;
  }
  
  .search-select{
    background-color: #f3f3f3;
    width: 44px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
  }
  .search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
  }
  .search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #0f1111;
  }
  
  /* box4 */
  .nav1-signina{
    height: 50px;
    width: 120px;
  }
  .nav1-re{
    height: 50px;
    width: 80px;
    padding: 2px;
  }
  .add3{
    font-size: 0.7rem;
  }
  .add4{
    font-size: 0.85rem;
    font-weight: 700;
  }
  /* box6 */
  .nav1-cart i{
    margin-top: 23px;
    margin-left: 5px;
  font-size: 23px;
  
  }
  .nav1-cart{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 0.85rem;
    font-weight: 700;
    height: 50px;
    width: 80px;
  }
  .navtoggle{
    display: none;
  }
  .count51{
  position: absolute;
  top: 1px;
  left: 1410px;
  font-size: 20px;
  }