*{
    font-family: Arial, Helvetica, sans-serif;
}
.cardbox12{
    height: 492px;
    width: 278px;
    border: .15px solid rgba(0, 0, 0, 0.241);
    
 box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
 box-sizing: border-box;
 background-color:white;
 margin-top: 25px;
    
}
.cardbox12:hover{
    transform: scale(1.05,1.05);
}
.colorspattern{
    font-size: 13px;
    color: blue;
    margin-left: 40px;
}
.btnadc5{
    margin-left: 50px;
    background-color: rgb(239, 239, 34);
    border: none;
    border-radius: 15px;
    width: 150px;
    height: 30px;
    
}
.btnadc5:hover{
    background-color: rgb(213, 188, 49);
}
.imgsize12{
    height: 332px;
    width: 258px;
   
   
}
.offdisc5{
    height: 24px;
    width: 215px;
    background-color: rgb(182, 14, 14);
    color: white;
   margin-left: 20px;
   font-size: 15px;
   padding-left: 15px;
}
.cardbox1:hover{
  
   transform: scale(1.02,1.02);
    
}
.lim{

    color: white;
  
  margin-left: 15px;
}


.shopbox12{
    position: absolute;
    top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.cardboxdescript12{
    color: black;
    line-height: normal;
    margin-left: 40px;
    margin-top: 12px;
    font-size: 16px;
    height: 50px;
    width: 198px;
}
