.imgsize{
    height: 380px;
    width: 313px;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.cardbox{
    height: 490px;
    width: 350px;
    background-color:white;
    padding: 20px 0px 15px;
    margin-top: 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    
}
.cardbox:hover{
    transform: scale(1.05,1.05);
}
.cardboxhead{
    font-size: 20px;
    font-weight: 700;
    margin-left: 20px;
}


.shopbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}